{% extends "layout.html" %}

{% block head %}
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.css" />
        <script src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>

        <style>
            table {
                border: 1px solid green;
                border-collapse: collapse;
                margin-top: 20px;
            }
            th, td {
                border: 1px solid white;
                padding: 10px;
                text-align: center;
            }
            th {
                background-color: white;
            }
            h1 {
                margin-bottom: 20px;
            }
            a {
                text-decoration: none;
                color: white;
            }
        
        </style>
{% endblock %}

{% block content %}


    <body class="container mt-4">
        <h1>Managing Enrollments for: {{ afterschool_class.activity }}</h1>
        <h2>Instructor: {{ afterschool_class.instructor.name }}</h2>
        <h2>Room: {{ afterschool_class.room }} | Grades: {{ afterschool_class.grades }}</h2>

        <form method="POST" action="/enroll_student" class="d-flex flex-column gap-3">

            <div>
                Student
                <select class="form-control" name = "student_id" id = "student_list" required>
                    <option value=""></option>
                    {% for student in valid_students_for_enrollment %}
                        <option value="{{student.id}}">{{student.name}} - {{student.grade}}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <label for="startdate">Start Date</label>
                <input type="date" id="startdate" name="startdate" class="form-control" required>
            </div>

            <div>
                <label for="enddate">End Date</label>
                <input type="date" id="enddate" name="enddate" class="form-control" required>
            </div>

            <input type="hidden" name="class_id" value="{{ afterschool_class.afterschool_class_id }}">

            <button type="submit" class="btn btn-primary">Enroll Student</button>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

        </form>

        <h4 class="mt-4">Enrolled Students</h4>
        <a href="/manage_class/{{ afterschool_class.afterschool_class_id }}" class="btn btn-secondary mt-3">Manage Class</a>
        <table id="my_table" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Student Name</th>
                    <th scope="col">Student ID Number</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for afterschool_enrollment in enrollments %}
                <tr>
                    <td>{{afterschool_enrollment.student}}</td>
                    <td>{{afterschool_enrollment.student_id}}</td>
                    <td>{{afterschool_enrollment.start_date}}</td>
                    <td>{{afterschool_enrollment.end_date}}</td>
                    <td>
                        <form method="POST" action="/remove_student_enrollment">
                            <input type="hidden" name="afterschool_enrollment_id" value="{{ afterschool_enrollment.afterschool_enrollment_id }}">
                            <input type="hidden" name="class_id" value="{{ afterschool_class.afterschool_class_id }}">
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>

        <script>
            $(function() {
                $("#student_list").select2();
            });

            $(document).ready( function () {
                $('#my_table').DataTable({ "paging": false});
            } );
        </script>
    </body>
{% endblock %}
