{% extends "layout.html" %}

{% block content %}
   <style>
      .student-button {
         display: block;
         width: 100%;
         padding: 10px;
         margin: 5px 0;
         border: none;
         border-radius: 5px;
         cursor: pointer;
      }
      .student-button:hover {
         background-color: #0056b3;
      }
   </style>
   <h1>Welcome to Renert School's Afterschool Website!</h1>
   <form>
      <label for="name"><b>Search Student:</b></label>
      <input name="name" id="name" oninput="input_changed()">
   </form>

   <div id="results"></div> 

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
      function input_changed() {
         var q = $("#name").val();
         $.ajax({
            url: "/check_student",
            data: { "q": q },
            success: function(data) {
                  console.log("Searching for: ", q);
                  got_results(data);
            }
         });
      }

      function got_results(data) {
         var results = $("#results");
         results.empty();  

         data = JSON.parse(data); 

         data.forEach(student => {
            let button = $(`<button class="student-button">${student.name}</button>`);
            button.click(() => {
                  alert("You clicked on " + student.name);
            });
            results.append(button);
         });
      }

   </script>
{% endblock %}
