{% extends "layout.html" %}

{% block head %}
<head>
   <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
   <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
   <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

{% endblock %}

{% block content %}
   <style>
      .student-button {
         display: block;
         width: 100%;
         padding: 10px;
         margin: 5px 0;
         border: none;
         border-radius: 5px;
         cursor: pointer;
      }
      .student-button:hover {
         background-color: #0056b3;
      }
   </style>
   <h1>Welcome to Renert School's Afterschool Website!</h1>

   <form>
      <label for="name"><b>Search Student:</b></label>
      <input name="name" id="name" oninput="input_changed()"> </input>

   </form>

   <div id="results"></div> 

   <script>
      function input_changed() {
         var q = $("#name").val();
         $.ajax({
            url: "/check_student",
            data: { "q": q },
            success: function(data) {
                  console.log("Searching for: ", q);
                  got_results(data);
            }

         });
      }

      function got_results(data) {
         var results = $("#results");
         results.empty();  

         data = JSON.parse(data); 

         data.forEach(student => {
            if (student.grade !== null) {  
               let button = $(`<button class="student-button">${student.name} (Grade ${student.grade})</button>`);

               button.click(() => {
                  alert("You clicked on " + student.name);
               });

               results.append(button);
            }
         });
      }
   </script>
     
   <script>
       $(document).ready(function() {
      });
   </script>
{% endblock %} 