<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <style>
        .navbar {
            height: 80px; 
        }
        .navbar-brand img {
            height: 80px; 
            margin-right: 20px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://timetable.renertschool.ca/static/renert-logo.png" alt="Renert Logo" style="height: 30px; margin-right: 10px;">
                Renert After School
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/list-classes" href="/">List of Classes</a>
                    <a class="nav-link" href="/reports">Reports</a>
                    <a class="nav-link" href="/about">About</a>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}

</body>
</html>
