{% extends "layout.html" %}

{% block head %}
<style>
 table {
     border: 1px solid green;
     border-collapse: collapse;
     margin-top: 20px;
 }
 th, td {
     border: 1px solid white;
     padding: 10px;
     text-align: center;
 }
 th {
     background-color: white;
 }
 h1 {
     margin-bottom: 20px;
 }
 a {
     text-decoration: none;
     color: white;
 }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">

            <h1 class="text-center">Available Afterschool Classes</h1>

            <div class="mb-3">
                <a href="{{ url_for('new_afterschool_class') }}" class="btn btn-primary">Add New Class</a>
            </div>

            {% set today = ["Mon", "Tue", "Wed", "Thu", "Friday", "Sat", "Sun"][now().weekday()] %}

            <table id="my_table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Weekdays</th>
                        <th>Instructor</th>
                        <th>Room</th>
                        <th>Grades</th>
                        <th>Sign-in/Sign-Out</th>
                        <th>Enrollment</th>
                    </tr>
                </thead
                <tbody>

                    {% for c in active_classes|sort(attribute='weekdays', reverse=false) %}
                        {% if today in c.weekdays %}
                            <tr>
                                <td>{{ c.activity }}</td>
                                <td>{{ c.weekdays }}</td>
                                <td>{{ c.instructor }}</td>
                                <td>{{ c.room }}</td>
                                <td>{{ c.grades }}</td>
                                <td data-search="" data-filter="">
                                    <a href="{{ url_for('manage_class', afterschool_class_id=c.afterschool_class_id) }}" class="btn btn-success btn-sm">
                                        Manage Class
                                    </a>
                                </td>
                                <td data-search="" data-filter="">
                                    <a href="{{ url_for('manage_enrollments', afterschool_class_id=c.afterschool_class_id) }}" class="btn btn-success btn-sm">
                                        Manage Enrollments
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% for c in active_classes|sort(attribute='weekdays', reverse=false) %}
                        {% if today not in c.weekdays %}
                            <tr>
                                <td>{{ c.activity }}</td>
                                <td>{{ c.weekdays }}</td>
                                <td>{{ c.instructor }}</td>
                                <td>{{ c.room }}</td>
                                <td>{{ c.grades }}</td>
                                <td>
                                    <a href="{{ url_for('manage_class', afterschool_class_id=c.afterschool_class_id) }}" class="btn btn-success btn-sm">
                                        Manage Class
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('manage_enrollments', afterschool_class_id=c.afterschool_class_id) }}" class="btn btn-success btn-sm">
                                        Manage Enrollments
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}


                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function init_datatables() {
            $('#my_table').DataTable({ "paging": false});
        }

        function setup() {
            init_datatables();
        }

        $(document).ready(function() {
            setup();
        });
    </script>
{% endblock %}
