{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>Enter New Afterschool Activity</h1>

    <form action="{{ url_for('process_new_afterschool_class') }}" method="POST">

      Activity Name: <input type=text name="activity">
      <br/>
      Grades: <input type=text name="grades">
      <br/>
      Room: <input type=text name="room">
      <br/>
      Days (CTRL+Click to select multiple days):
      <select class="form-select" multiple size=8 aria-label="Multiple select example">
	<option selected>Select day(s)</option>
	<option value="1">Monday</option>
	<option value="2">Tuesday</option>
	<option value="3">Wednesday</option>
	<option value="4">Thursday</option>
	<option value="5">Friday</option>
	<option value="6">Saturday</option>
	<option value="7">Sunday</option>
      </select>

      <br/>
      Instructor:
      <select class="form-select" aria-label="Default select example">
	<option selected>Select Intrsuctor</option>
	{% for i in instructors %}
	<option value="{{i.id}}">{{i.name}}</option>
	{% endfor %}

      </select>
      <br/>

      <br/>
      Start Time: <input type=time>
      <br/>
      End Time: <input type=time>
      <br/>

      <input type="submit" value="Add Activity" class="btn btn-primary">

    </form>
  </div>
</div>
{% endblock %}
