{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>Add New Activity</h1>

    <form action="{{ url_for('process_new_afterschool_class') }}" method="POST">

    <div class="form-group">
      <label for="activity_name">Activity Name</label>
      <input type="text" class="form-control" name="activity_name" placeholder="Enter name (ex: Math Homework Club)">
    </div>

    <div class="form-group">
      <label for="grades">Grades</label>
      <input type="text" class="form-control" name="grades" placeholder="Enter grades (ex: 2,3)">
    </div>

    <div class="form-group">
        <label for="room">Room</label>
        <input type="text" class="form-control" name="room" placeholder="Room number (ex: 2203)">
      </div>

    Days
    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="1">
      <label class="form-check-label" name="1">Monday</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="2">
        <label class="form-check-label" name="2">Tuesday</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="3">
        <label class="form-check-label" name="3">Wednesday</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="4">
        <label class="form-check-label" name="4">Thursday</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="5">
        <label class="form-check-label" name="5">Friday</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="6">
        <label class="form-check-label" name="6">Saturday</label>
    </div>

    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="7">
        <label class="form-check-label" name="7">Sunday</label>
    </div>

    <select class="form-control" name = "teacher_name">
        {% for x in instructors %}
            <option value="{{x.id}}">{{x.name}}</option>
        {% endfor %}
    </select>

    Start time: <input type="time" name="starttime" />

    End time: <input type="time" name="endtime" />

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>
{% endblock %}
